@media only screen and (max-width: 550px) {

    .page-container{
        padding: 20px 20px 20px 20px;
        margin: 20px 20px 20px 20px;
        background-color:var(--yellow);
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size:20px;
    }

    .title-img{
        width:70%;
    }

    .column, .col-3, .center-img{
        width: 100%;
        float:none;
    }

    footer{
        position: relative;
    }
    
}